<div>[[!meta title="Thank you!"]]</div>

[[!meta stylesheet="donate/thanks" rel="stylesheet" title=""]]
[[!meta script="lib/js/jquery.min"]]
[[!meta script="donate/thanks"]]

<div id="smiley">[[!img love.png link="no" class="smiley"]]</div>

<div id="text">

<p>Your payment was successful.</p>

<h2>Please tweet about your donation</h2>

Show your friends that you care about privacy and Internet freedom, and encourage others to do the same!

<div id="tweets">

<!-- Maximum tweet length                                                                                                                -->

<a href="https://twitter.com/intent/tweet?text=I+donate+to+@Tails_live+because+nobody+should+have+to+pay+to+be+safe+while+using+computers: https://tails.boum.org/donate/?r=nobody" class="tweet" target="_blank">
I donate to @Tails_live because nobody should have to pay to be safe while using computers.
</a>

<a href=https://twitter.com/intent/tweet?text=If+like+me+you+want+more+leaks,+donate+to+@Tails_live!+https://tails.boum.org/donate/?r=leaks" class="tweet" target="_blank">
If like me you want more leaks, donate to @Tails_live!
</a>

<a href="https://twitter.com/intent/tweet?text=I+proudly+support+@Tails_live+to+help+journalists+and+human+rights+defenders+do+their+job+safely:+https://tails.boum.org/donate/?r=hrd" class="tweet" target="_blank">
I proudly support @Tails_live to help journalists and human rights defenders do their job safely.
</a>

<a href="https://twitter.com/intent/tweet?text=It+takes+more+than+two+to+do+the+anonymity+dance.+Join+me+in+donating+to+@Tails_live+to+keep+dancing:+https://tails.boum.org/donate/?r=dance" class="tweet" target="_blank">
It takes more than two to do the anonymity dance. Join me in donating to @Tails_live to keep dancing.
</a>

</div>

</div>
