@import url("common.css");

.row img {
  display: block;
  margin-top: 100px !important;
  margin-bottom: 2em;
}

.col-md-8 {
  padding-left: 0;
}

.follow {
  margin-top: 5em;
}

h1 {
  color: #56347c;
}

h2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.metaphor {
  color: #999;
  font-size: 15px;
}

.big {
  font-size: 20px;
  max-width: 420px;
}

.medium {
  color: #666;
  max-width: 400px;
}

.links {
  margin-top: 2em;
}

.links p, .links ul {
  display: inline-block;
  vertical-align: top;
}
