.pageheader #otherlanguages {
  top: 0;
}

h1 {
  font-size: 46px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 20px;
  height: 2em;
}

.col-md-8, .col-md-4 {
  padding-left: 0;
  padding-right: 30px;
}

/* Topbar */

.searchform {
  position: inherit;
}

form#searchform {
  right: 170px;
}

.topbar {
  background: #53b351;
  max-width: 986px;
  margin: 0 auto;
}

.topbar ul {
  margin: 0;
  max-width: 100%;
}

.topbar ul li {
  display: inline-block;
}

.topbar a, .topbar .selflink {
  display: block;
  padding: 10px 15px 5px 15px;
  font-family: "Source Sans Pro Regular", "DejaVu Sans", "Verdana", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.topbar a {
  color: black;
}

.topbar a:hover {
  text-decoration: none;
  border-bottom: 5px solid black !important;
}

.topbar .selflink {
  background: #73d171;
  color: black;
  border-bottom: 5px solid #73d171;
}

/* Special links */

.topbar a.donate {
  border-bottom: 5px solid yellow;
  background: yellow;
}

/* Hide breadcrumbs on top pages */

.parentlinks, span.title {
  display: none;
}

/* Only display actions on blueprints */

.actions {
  display: none;
}

/* Overwrites to local.css */

.banner {
  padding: 0;
}

.page {
  padding: 0;
}

span.title {
  margin-left: 0;
}

#crumbs {
  margin: 0;
}

#pagebody {
  margin: 0 15px;
}

#content {
  padding: 20px 0 !important;
}

.button a {
  background: #53b351;
  color: black !important;
  font-size: 24px;
  font-weight: bold;
  border-radius: 0.5em;
  padding: 0.2em;
  margin: 2em auto;
  display: block;
  width: 50%;
  text-align: center;
}
