@import url("common.css");

.hero {
  padding: 70px 0;
}

.hero h1 {
  font-size: 42px;
  margin-top: 10px !important;
}

h2 {
  font-size: 20px;
  font-style: italic;
  margin-right: 70px;
}

hr {
  margin: 6em;
  border: none;
}

.benefits img {
  display: block;
  margin: auto;
}

.benefits h3 {
  margin-top: 2em;
}

.personas img {
  display: block;
  margin: auto;
}

.benefits p, .personas p {
  font-size: 16px;
}

.persona {
  font-weight: bold;
  color: #56347c;
  display: block;
}

.testimonials img {
  display: block;
  margin: auto;
}

.testimonials blockquote {
  color: black !important;
  border-bottom: none !important;
  font-size: 14px;
}

.testimonials blockquote p {
  border: none;
  background: none;
}

.testimonials blockquote a[href^="http"] {
  background: none !important;
}

.recommended img {
  margin: 0.5em;
}
