<p>Many publicly accessible Internet connections (usually available through a
wireless network connection) require users to first log in to a <em>captive
portal</em> in order to access the Internet.</p>

<p>A captive portal is a web page that is displayed to the user before the user
can access the Internet. Captive portals usually require the user to log in to
the network or enter information such as an email address. Captive portals are
commonly encountered at Internet cafés, libraries, airports, hotels, and
universities.</p>

<p>This is an example of a captive portal (by
<a href="https://commons.wikimedia.org/wiki/File:Captive_Portal.png">AlexEng</a>):</p>

[[!img captive-portal.png link="no" alt="Welcome! Please enter your credentials to connect."]]

