[[!meta title="Our mission and values"]]

[[!meta stylesheet="bootstrap.min" rel="stylesheet" title=""]]
[[!meta stylesheet="mission" rel="stylesheet" title=""]]

<div class="row">

<div id="mission" class="col-sm-10">

<p>Our mission is to empower people worldwide by giving out an operating system that
protects from surveillance and censorship.</p>

<p>We make digital security
tools accessible to everyone, whenever they need it:
activists, journalists, freedom fighters, and ultimately, you,
whenever you need extra privacy in this digital world.</p>

</div>

</div>

<div class="row">

<div class="col-sm-12">

<h1>Tails is&hellip;</h1>

</div>

</div>

<div class="row">

<div id="values" class="col-sm-8">

<h3>Empowering</h3>

<p>We build liberating technology to put people in control of their
digital lives. We make it simple for our users to make informed
decisions depending on their situations. <strong>The most vulnerable and
oppressed people are the most in need of privacy and security.</strong></p>

<h3>Ecosystemic</h3>

<p>We cooperate with and give back to other projects as a way of
building better and more sustainable software. Tails is interoperable
with other tools and useful in diverse workflows. <strong>The privacy and
security of digital communications is not an individual matter.</strong></p>

<h3>Accessible</h3>

<p>We are a welcoming community dedicated to building usable tools for a
diverse and global audience. We work hard to be helpful, understand our
users, and educate them without being paternalistic. <strong>If a tool is hard to use, it
is less secure.</strong></p>

<h3>No bullshit</h3>

<p>We don't promise absolute security but
we are reliable and trustworthy. We communicate about the limitations of
our software in an instructive way, without being disorientating,
patronizing, or overly cautious. <strong>Tails is safe but not
magic.</strong></p>

</div>

</div>

<p>See also the [[Tails Social
Contract|contribute/working_together/social_contract]], which is a set
of commitments that Tails stands by.</p>

<h1>Our style</h1>

<div class="row">

<div id="style" class="col-sm-6">

<p>When using Tails, people trade off bits of convenience for some extra
security. They might have very little time, be under stress, or physical
threats.</p>

<p>We take the safety of our users very seriously and we speak to them
in a confident and reassuring way without being lighthearted or
frivolous.</p>

<p>Our style inspires trust but doesn't sound distant. Even though we
address serious issues, we are always empathetic and encouraging.</p>

<p>To be accessible to our diverse and global audience, we value clarity
and sincerity above all. We provide state-of-the-art tools without
over-promising or sounding elitist.</p>

</div>

<div id="personality" class="col-sm-4">

<p><span>Playful</span><span>Serious</span></p>

<div class="progress"><div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70"></div></div>

<p><span>Cautious</span><span>Confident</span></p>

<div class="progress"><div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60"></div></div>

<p><span>For Experts</span><span>For Everybody</span></p>

<div class="progress"><div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90"></div></div>

<p><span>Impartial</span><span>Political</span></p>

<div class="progress"><div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"></div></div>

</div>

</div>
